html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: FontAwesome; src: url("fonts/fontawesome-webfont.eot"); src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { min-width: 1000px; font-family: "PT Sans", sans-serif; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-size: 15px; line-height: 1.4; }

h1 { font-weight: normal; font-size: 40px; color: #333333; }

h2 { font-weight: normal; font-size: 24px; color: #333333; }

.out { position: relative; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -86px; }

.push { height: 86px; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.col50 { float: left; width: 50%; }

.col25 { float: left; width: 25%; }

.date { font-size: 13px; color: #979797; }

.container { *zoom: 1; background: #333333; }
.container:after { content: " "; display: table; clear: both; }

.content { padding: 0 32px; }

.header { background: #333333; }
.header__topper { *zoom: 1; padding: 0 0 0 30px; }
.header__topper:after { content: " "; display: table; clear: both; }
.header__topper .shops-select { float: left; }

.logo { float: left; position: relative; margin-top: 10px; margin-bottom: 10px; margin-right: 60px; }
.logo a { float: left; background: url('../img/icons-s1ed957713d.png') 0 -412px no-repeat; width: 67px; height: 66px; }
.logo p { float: left; margin-left: 13px; margin-top: 5px; font-size: 13px; font-family: "PT Sans Narrow", sans-serif; text-transform: uppercase; color: white; font-weight: normal; }
@media only screen and (max-width: 1440px) { .header .logo { margin-right: 15px; } }
.out_index .logo { float: none; display: inline-block; vertical-align: middle; margin-top: 0; margin-right: 0; margin-left: 150px; }
.out_index .logo a { background: url('../img/icons-s1ed957713d.png') 0 -207px no-repeat; width: 195px; height: 195px; }
.out_index .logo p { margin-top: 27px; margin-left: 38px; line-height: 1.2; font-size: 40px; }

.search { position: relative; float: right; margin-left: 28px; font-size: 0; }
.search input[type="text"] { display: block; height: 86px; width: 314px; font-size: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", sans-serif; padding: 0 76px 0 38px; background: #4d4d4d; color: white; }
.search input[type="text"]:-ms-input-placeholder { color: #cfcfcf; font-size: 15px; }
.search input[type="text"]:-moz-placeholder { color: #cfcfcf; font-size: 15px; }
.search input[type="text"]::-moz-placeholder { color: #cfcfcf; font-size: 15px; }
.search input[type="text"]::-webkit-input-placeholder { color: #cfcfcf; font-size: 15px; }
.search input[type="text"]::placeholder { color: #cfcfcf; font-size: 15px; }
.search button { position: absolute; top: 33px; right: 39px; background: url('../img/icons-s1ed957713d.png') 0 -813px no-repeat; width: 24px; height: 24px; }
@media only screen and (max-width: 1280px) { .search { margin-left: 10px; }
  .search input[type="text"] { width: 210px; padding: 0 42px 0 20px; }
  .search button { right: 24px; } }

.check { position: relative; padding: 20px 0; float: right; font-size: 0; }
.check input[type="text"] { display: inline-block; vertical-align: middle; height: 46px; width: 215px; background: #4d4d4d; font-size: 15px; font-family: "PT Sans", sans-serif; color: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 21px; }
.check input[type="text"]:-ms-input-placeholder { color: #cfcfcf; font-size: 15px; }
.check input[type="text"]:-moz-placeholder { color: #cfcfcf; font-size: 15px; }
.check input[type="text"]::-moz-placeholder { color: #cfcfcf; font-size: 15px; }
.check input[type="text"]::-webkit-input-placeholder { color: #cfcfcf; font-size: 15px; }
.check input[type="text"]::placeholder { color: #cfcfcf; font-size: 15px; }
.check button { display: inline-block; vertical-align: middle; height: 46px; width: 130px; background: #1e1e1e; color: white; font-size: 15px; }
@media only screen and (max-width: 1280px) { .check input[type="text"] { width: 165px; padding: 0 5px; }
  .check input[type="text"]:-ms-input-placeholder { font-size: 13px; }
  .check input[type="text"]:-moz-placeholder { font-size: 13px; }
  .check input[type="text"]::-moz-placeholder { font-size: 13px; }
  .check input[type="text"]::-webkit-input-placeholder { font-size: 13px; }
  .check input[type="text"]::placeholder { font-size: 13px; }
  .check button { width: 94px; font-size: 14px; } }

.shops-select { position: relative; padding-top: 18px; }
.shops-select__title { position: relative; padding-left: 60px; padding-right: 65px; font-size: 24px; color: white; text-transform: uppercase; cursor: pointer; }
.shops-select__title p { font-family: "PT Sans", sans-serif; font-size: 14px; }
.shops-select__title:before { content: ""; position: absolute; top: 0px; left: 10px; background: url('../img/icons-s1ed957713d.png') 0 -951px no-repeat; width: 31px; height: 48px; }
.shops-select__title:after { content: ""; position: absolute; top: 20px; right: 0; background: url('../img/icons-s1ed957713d.png') 0 -870px no-repeat; width: 23px; height: 13px; }
@media only screen and (max-width: 1280px) { .shops-select .shops-select__title { padding-left: 55px; padding-right: 45px; font-size: 20px; }
  .shops-select .shops-select__title p { font-size: 11px; } }

.banner { position: relative; background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 50% 0%; z-index: 1; cursor: pointer; }
.banner:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }

.nav { position: absolute; top: 0; left: 0; right: 0; z-index: 2; }
.nav__topper { *zoom: 1; }
.nav__topper:after { content: " "; display: table; clear: both; }
.nav__left { float: left; }
.nav__right { float: right; }
.nav__right a { float: left; height: 86px; line-height: 86px; text-decoration: none; color: white; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-size: 50px; }
.nav__right a.catalog-link { padding: 0 20px 0 40px; background: #f05223; }
.nav__right a.actions-link { padding: 0 20px 0 30px; background: #333333; }

.menu-link { position: relative; float: right; width: 86px; height: 86px; background: #333333; }
.menu-link:before { content: ""; position: absolute; top: 20px; left: 20px; background: url('../img/icons-s1ed957713d.png') 0 -488px no-repeat; width: 46px; height: 42px; }
.out_index .menu-link { position: relative; display: block; float: none; }

.menu-wrap { position: absolute; top: 0; left: 0; right: 0; height: 86px; background: #333333; -moz-transition: opacity 250ms; -o-transition: opacity 250ms; -webkit-transition: opacity 250ms; transition: opacity 250ms; visibility: hidden; opacity: 0; z-index: 3; }
.menu-wrap.is-open { opacity: 1; visibility: visible; }

.close { display: block; background: url('../img/icons-s1ed957713d.png') 0 -119px no-repeat; width: 48px; height: 48px; }
.menu-wrap .close { float: right; margin-top: 19px; margin-right: 23px; }
.list-wrap .close { position: absolute; top: 19px; right: 23px; }

.menu { float: left; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }
.menu > li { float: left; padding-left: 83px; }
@media only screen and (max-width: 1780px) { .menu > li { padding-left: 40px; } }
@media only screen and (max-width: 1280px) { .menu > li { padding-left: 25px; } }
.menu > li:first-child { padding-left: 60px; }
@media only screen and (max-width: 1760px) { .menu > li:first-child { padding-left: 30px; } }
.menu > li a { display: block; height: 86px; line-height: 86px; color: white; font-size: 30px; font-family: "PT Sans", sans-serif; text-transform: uppercase; text-decoration: none; }
@media only screen and (max-width: 1560px) { .menu > li a { font-size: 26px; } }
@media only screen and (max-width: 1366px) { .menu > li a { font-size: 25px; } }
@media only screen and (max-width: 1280px) { .menu > li a { font-size: 20px; } }

.socials { *zoom: 1; }
.socials:after { content: " "; display: table; clear: both; }
.socials li { float: left; padding-left: 50px; }
.socials li a img { position: relative; }
@media only screen and (max-width: 1780px) { .socials li { padding-left: 35px; } }
@media only screen and (max-width: 1560px) { .socials li { padding-left: 30px; }
  .socials li a img { height: 25px; top: 2px; } }
@media only screen and (max-width: 1366px) { .socials li { padding-left: 23px; } }
@media only screen and (max-width: 1280px) { .socials li { padding-left: 15px; }
  .socials li a img { height: 20px; } }

.list-wrap { *zoom: 1; position: relative; top: -86px; background: #f05223; z-index: 2; -moz-transition: opacity 250ms; -o-transition: opacity 250ms; -webkit-transition: opacity 250ms; transition: opacity 250ms; visibility: hidden; opacity: 0; }
.list-wrap:after { content: " "; display: table; clear: both; }
.list-wrap.is-open { opacity: 1; visibility: visible; }

.list { position: relative; background: #f05223; *zoom: 1; }
.list:after { content: " "; display: table; clear: both; }
.list > li { float: left; }
.list > li:first-child .list__link { padding: 0 50px 0 60px; }
@media only screen and (max-width: 1560px) { .list > li:first-child .list__link { padding: 0 35px 0 40px; } }
@media only screen and (max-width: 1280px) { .list > li:first-child .list__link { padding: 0 25px 0 30px; } }
.list > li.is-open .list__link { background: white; color: #333333; }
.list > li.is-open .sublist { display: block; }
.list__link { display: block; padding: 0 50px; height: 86px; line-height: 86px; font-family: "PT Sans", sans-serif; color: white; text-decoration: none; text-transform: uppercase; font-size: 30px; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; }
.list__link:hover { background: white; color: #333333; }
@media only screen and (max-width: 1560px) { .list__link { padding: 0 35px; } }
@media only screen and (max-width: 1440px) { .list__link { font-size: 25px; } }
@media only screen and (max-width: 1280px) { .list__link { padding: 0 25px; font-size: 21px; } }

.sublist { display: none; position: absolute; top: 86px; left: 0; right: 0; background: white; padding: 38px 0; z-index: 99; }
.sublist__col { float: left; width: 50%; padding-left: 3%; *zoom: 1; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sublist__col:after { content: " "; display: table; clear: both; }
.sublist__title { float: left; width: 22%; font-size: 21px; text-transform: uppercase; color: #333333; }
.sublist__content { *zoom: 1; float: left; width: 78%; }
.sublist__content:after { content: " "; display: table; clear: both; }
.sublist__links { float: left; width: 25%; }
.sublist__links li a { display: inline-block; padding: 4px 12px; text-decoration: none; color: #333333; font-size: 15px; text-transform: none; }
.sublist__links li a:hover { background: #f05223; color: white; }
@media only screen and (max-width: 1280px) { .sublist__links li a { font-size: 13px; } }

.breadcrumbs { float: left; }
.breadcrumbs__list { font-size: 0; height: 70px; line-height: 70px; }
.breadcrumbs__list li { position: relative; display: inline-block; vertical-align: middle; padding-left: 25px; }
.breadcrumbs__list li:before { content: "\f105"; position: absolute; top: 0px; left: 10px; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 13px; color: #9d9d9d; }
.breadcrumbs__list li a { font-size: 13px; color: #f05223; font-family: "PT Sans", sans-serif; text-decoration: none; }
.breadcrumbs__list li a:hover { text-decoration: underline; }
.breadcrumbs__list li:first-child { padding-left: 0; }
.breadcrumbs__list li:first-child:before { content: ""; }
.breadcrumbs__list li:last-child a { color: #9d9d9d; }

.back { position: relative; float: right; margin-top: 15px; text-decoration: none; padding-left: 38px; color: #f05223; font-size: 24px; }
.back:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s1ed957713d.png') 0 -56px no-repeat; width: 18px; height: 33px; }

.footer { position: relative; *zoom: 1; height: 86px; background: #333333; padding: 0 45px 0 30px; }
.footer:after { content: " "; display: table; clear: both; }
.footer__menu { float: left; width: 50%; }
.footer__menu ul { *zoom: 1; margin-left: -22px; padding-top: 22px; }
.footer__menu ul:after { content: " "; display: table; clear: both; }
.footer__menu ul li { float: left; margin-left: 22px; margin-bottom: 3px; }
.footer__menu ul li a { color: #989898; text-decoration: none; font-size: 13px; font-family: "PT Sans", sans-serif; }
@media only screen and (max-width: 1366px) { .footer__menu ul li { margin-left: 9px; }
  .footer__menu ul li a { font-size: 12px; } }
@media only screen and (max-width: 1280px) { .footer__menu ul li a { font-size: 11px; } }
@media only screen and (max-width: 1024px) { .footer__menu ul { padding-top: 7px; } }
.footer__socials { float: right; *zoom: 1; }
.footer__socials:after { content: " "; display: table; clear: both; }
.footer__socials li { float: left; margin-left: 35px; }
.footer__socials li a { line-height: 86px; }
.footer__socials li a i { font-size: 30px; color: #989898; }
@media only screen and (max-width: 1366px) { .footer__socials li { margin-left: 30px; } }

.v { display: inline-block; background: url('../img/icons-s1ed957713d.png') 0 -1280px no-repeat; width: 31px; height: 27px; }
.v.v_white { background: url('../img/icons-s1ed957713d.png') 0 -1243px no-repeat; width: 31px; height: 27px; }

.p { display: inline-block; background: url('../img/icons-s1ed957713d.png') 0 -680px no-repeat; width: 20px; height: 26px; }
.p.p_white { background: url('../img/icons-s1ed957713d.png') 0 -644px no-repeat; width: 20px; height: 26px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.main { overflow: hidden; background: white; min-height: 510px; }
.main__nav { margin: 0 32px 15px; height: 70px; border-bottom: 1px solid #e7e7e7; }

.m-shops, .m-news { height: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 125%; }

.m-actions, .m-video, .lookbook { padding-bottom: 62.5%; height: 0; }

.m-shops { position: relative; }
.m-shops__topper { position: absolute; top: 0; left: 0; right: 0; background: #333333; padding: 10px 0; z-index: 2; }
.m-shops__title { position: relative; padding-left: 20%; font-size: 24px; color: white; text-transform: uppercase; }
.m-shops__title p { font-family: "PT Sans", sans-serif; font-size: 14px; }
.m-shops__title:before { content: ""; position: absolute; top: 0px; left: 10px; background: url('../img/icons-s1ed957713d.png') 0 -951px no-repeat; width: 31px; height: 48px; }
.m-shops__content { position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 1; }
.m-shops__map { position: relative; height: 100%; width: 100%; }

.m-news { position: relative; background: #333333; }
.m-news__title { position: relative; padding-left: 85px; padding-top: 25px; margin-bottom: 12%; font-size: 24px; color: white; text-transform: uppercase; }
.m-news__title:before { content: ""; position: absolute; top: 15px; left: 36px; background: url('../img/icons-s1ed957713d.png') 0 -540px no-repeat; width: 34px; height: 51px; }
@media only screen and (max-width: 1366px) { .m-news__title { padding-left: 60px; margin-bottom: 6%; }
  .m-news__title:before { left: 13px; } }
.m-news__list { padding: 0 10%; }
.m-news__list li { *zoom: 1; }
.m-news__list li:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1780px) { .m-news__list { padding: 0 5%; } }
.m-news__date { float: left; padding: 0 10px; margin-right: 10px; height: 29px; line-height: 29px; color: white; background: #f05223; }
@media only screen and (max-width: 1560px) { .m-news__date { font-size: 13px; padding: 0 5px; } }
@media only screen and (max-width: 1366px) { .m-news__date { padding: 0 5px; } }
@media only screen and (max-width: 1280px) { .m-news__date { height: 25px; line-height: 25px; font-size: 11px; } }
@media only screen and (max-width: 1024px) { .m-news__date { font-size: 9px; height: 24px; line-height: 24px; } }
.m-news__link { display: block; padding-top: 5px; margin-bottom: 20px; font-family: "PT Sans", sans-serif; color: white; text-decoration: none; }
@media only screen and (max-width: 1760px) { .m-news__link { font-size: 14px; } }
@media only screen and (max-width: 1560px) { .m-news__link { font-size: 12px; margin-bottom: 15px; } }
@media only screen and (max-width: 1366px) { .m-news__link { font-size: 11px; } }
@media only screen and (max-width: 1280px) { .m-news__link { font-size: 9px; margin-bottom: 12px; } }
@media only screen and (max-width: 1024px) { .m-news__link { margin-bottom: 10px; } }

.more { position: absolute; bottom: 19px; right: 17px; padding: 0 10px; height: 29px; line-height: 29px; color: white; text-decoration: none; background: #f05223; }

.m-actions { position: relative; background: white; padding-right: 0; padding-left: 6.25%; overflow: hidden; }
.m-actions:hover .overlay { opacity: 1; }
.m-actions__parallax { position: absolute; top: 0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; margin: -5%; padding: 5%; }
.m-actions .overlay { z-index: 1; }
.m-actions__in { position: relative; padding: 0 50px; height: 100%; z-index: 2; }
.m-actions__title { position: relative; padding-left: 50px; padding-top: 22px; margin-bottom: 10%; font-size: 24px; color: #333333; text-transform: uppercase; }
.m-actions__title:before { content: ""; position: absolute; top: 14px; left: 0; background: url('../img/icons-s1ed957713d.png') 0 0 no-repeat; width: 19px; height: 46px; }
@media only screen and (max-width: 1366px) { .m-actions__title { margin-bottom: 5%; } }
@media only screen and (max-width: 1280px) { .m-actions__title { margin-bottom: 2%; } }
.m-actions__content article { padding-top: 40px; float: left; }
.m-actions__content article p { margin-bottom: 10px; width: 40%; }
.m-actions__content article img { float: right; max-width: 50%; }
@media only screen and (max-width: 1366px) { .m-actions__content article { padding-top: 20px; }
  .m-actions__content article p { width: 50%; } }
@media only screen and (max-width: 1280px) { .m-actions__content article { padding-top: 15px; }
  .m-actions__content article p { font-size: 13px; } }

.lookbook { position: relative; }
.lookbook a { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; overflow: hidden; }
.lookbook a img { width: 100%; height: 100%; -moz-transition: all 400ms; -o-transition: all 400ms; -webkit-transition: all 400ms; transition: all 400ms; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
.lookbook a:hover img { -ms-transform: scale(1.03); -webkit-transform: scale(1.03); transform: scale(1.03); }
.lookbook a:hover .overlay { opacity: 1; }

.parallax-wrap { position: relative; margin: -5%; width: 110%; height: 115%; }

.parallax { position: absolute; top: 0 !important; left: 0 !important; right: 0; bottom: 0; }

.overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(65, 60, 57, 0.5); -moz-transition: opacity 400ms; -o-transition: opacity 400ms; -webkit-transition: opacity 400ms; transition: opacity 400ms; opacity: 0; z-index: 2; }

.m-video { position: relative; }
.m-video__container { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background: url(../img/pict2.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 0%; }
.m-video__btn { position: absolute; top: 50%; left: 50%; margin: -112px 0 0 -112px; width: 224px; height: 224px; border-radius: 50%; text-align: center; background: rgba(255, 255, 255, 0.5); z-index: 2; }
.m-video__btn:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.m-video__btn i { display: inline-block; vertical-align: middle; background: url('../img/icons-s1ed957713d.png') 0 -761px no-repeat; width: 39px; height: 42px; }

.anim { opacity: 0; -ms-transform: scale(0.2); -webkit-transform: scale(0.2); transform: scale(0.2); -moz-transition: all 800ms; -o-transition: all 800ms; -webkit-transition: all 800ms; transition: all 800ms; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
@media only screen and (max-width: 1024px) { .anim { opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); } }
.anim.is-loaded { opacity: 1; -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }

.anim1 { -moz-transform: translate(-100px, 0px); -ms-transform: translate(-100px, 0px); -webkit-transform: translate(-100px, 0px); transform: translate(-100px, 0px); }
@media only screen and (max-width: 1024px) { .anim1 { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

.anim2 { -moz-transform: translate(200px, -50px); -ms-transform: translate(200px, -50px); -webkit-transform: translate(200px, -50px); transform: translate(200px, -50px); }
@media only screen and (max-width: 1024px) { .anim2 { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

.anim3 { -moz-transform: translate(250px, 100px); -ms-transform: translate(250px, 100px); -webkit-transform: translate(250px, 100px); transform: translate(250px, 100px); }
@media only screen and (max-width: 1024px) { .anim3 { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

.anim4 { -moz-transform: translate(-150px, 50px); -ms-transform: translate(-150px, 50px); -webkit-transform: translate(-150px, 50px); transform: translate(-150px, 50px); }
@media only screen and (max-width: 1024px) { .anim4 { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

.anim5 { -moz-transform: translate(150px, 200px); -ms-transform: translate(150px, 200px); -webkit-transform: translate(150px, 200px); transform: translate(150px, 200px); }
@media only screen and (max-width: 1024px) { .anim5 { -moz-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

.item { position: relative; *zoom: 1; }
.item:after { content: " "; display: table; clear: both; }
.item__like { position: absolute; top: 0; left: 0; width: 54px; margin-right: 5%; z-index: 10; }
.item__gallery { float: left; width: 50%; padding-right: 5%; margin-bottom: 50px; padding-left: 11%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item__info { float: right; width: 47%; }
.item__topper { *zoom: 1; margin-bottom: 40px; }
.item__topper:after { content: " "; display: table; clear: both; }
.item__title { float: left; }
.item__title h1 { font-size: 30px; color: #333333; font-weight: normal; }
.item__size { margin-bottom: 45px; }
.item__size > p { margin-bottom: 5px; font-size: 15px; color: #888888; }
.item__size ul { *zoom: 1; }
.item__size ul:after { content: " "; display: table; clear: both; }
.item__size ul li { float: left; margin-right: 6px; width: 46px; height: 46px; line-height: 46px; background: #d9d9d9; text-align: center; font-family: "PT Sans Narrow", sans-serif; color: #333333; font-size: 24px; }

.price { float: right; font-size: 24px; color: #f05223; line-height: 1; text-align: right; }
.item .price { font-size: 30px; padding-right: 40px; }
.price span { font-size: 13px; color: #333333; }
@media only screen and (max-width: 1280px) { .price { font-size: 20px; } }

.tabs { position: relative; width: 545px; }
@media only screen and (max-width: 1280px) { .tabs { width: 100%; } }
.tabs__nav { *zoom: 1; }
.tabs__nav:after { content: " "; display: table; clear: both; }
.tabs__nav li { float: left; margin-left: 6px; }
.tabs__nav li:first-child { margin-left: 0; }
.tabs__link { display: block; padding: 0 30px; height: 46px; line-height: 46px; text-decoration: none; color: white; font-size: 21px; text-transform: uppercase; background: #333333; }
.tabs__link.is-active { background: #f05223; }
@media only screen and (max-width: 1280px) { .tabs__link { padding: 0 25px; height: 36px; line-height: 36px; font-size: 18px; } }
.tabs__container { padding: 25px 6px; }

.table-list { display: table; width: 100%; border-collapse: collapse; }
.table-list li { display: table-row; border-top: 1px dotted #e7e7e7; }
.table-list li:first-child { border-top: none; }
.table-list li > div { display: table-cell; width: 60%; padding: 2px 0; color: #333333; }
.table-list li > div:first-child { width: 40%; color: #888888; }

.percent { width: 54px; height: 54px; line-height: 54px; background: #f05223; text-align: center; font-size: 0; }

.percent-icon { display: inline-block; vertical-align: middle; background: url('../img/icons-s1ed957713d.png') 0 -716px no-repeat; width: 35px; height: 35px; }

.like { width: 54px; height: 54px; line-height: 50px; text-align: center; background: #d9d9d9 url(../img/heart.png) 50% 50% no-repeat; color: white; font-size: 12px; }
.like.like_orange { background: #d9d9d9 url(../img/heart-orange.png) 50% 50% no-repeat; }

.similar { margin-bottom: 45px; }
.similar__title { height: 65px; line-height: 65px; margin-bottom: 22px; padding: 0 50px; background: #e7e7e7; font-size: 30px; color: #333333; }
.similar__list { padding: 0 28px; text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.similar__list:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.similar__list li { display: inline-block; line-height: normal; vertical-align: top; font-size: 15px; width: 20%; }

.artikul { font-size: 13px; color: #9d9d9d; }

.block { position: relative; }
.block__likes { position: absolute; top: 0; right: 0; z-index: 2; }
.block__img { display: block; height: 250px; line-height: 250px; margin-bottom: 45px; text-align: center; vertical-align: bottom; }
.block__img img { display: inline-block; vertical-align: bottom; width: 100%; max-height: 100%; }
@media only screen and (max-width: 1280px) { .block__img { height: 200px; line-height: 200px; } }
.block__footer { *zoom: 1; }
.block__footer:after { content: " "; display: table; clear: both; }
.block__left { float: left; width: 80%; }
.block__right { float: right; width: 20%; }
.block__link { font-size: 24px; color: #333333; text-decoration: none; }
@media only screen and (max-width: 1280px) { .block__link { font-size: 20px; } }

.catalog { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-bottom: -32px; }
.catalog:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.catalog__item { display: inline-block; line-height: normal; vertical-align: top; font-size: 15px; width: 30%; padding-bottom: 10px; border-bottom: 1px solid #e7e7e7; margin-bottom: 32px; }

.pagination { float: right; }
.pagination__list { *zoom: 1; float: left; }
.pagination__list:after { content: " "; display: table; clear: both; }
.pagination__list li { float: left; color: #f05223; font-size: 24px; margin-left: 22px; line-height: 70px; }
.pagination__list li a { display: inline-block; font-size: 24px; color: #f05223; text-decoration: none; }
.pagination__list li a:hover { color: #333333; }
.pagination__list li a.is-active { color: #333333; }
.pagination__next { float: left; margin-left: 30px; height: 70px; line-height: 70px; }
.pagination__next a { display: inline-block; vertical-align: middle; background: url('../img/icons-s1ed957713d.png') 0 -601px no-repeat; width: 18px; height: 33px; }

.number { float: left; }
.number ul { *zoom: 1; }
.number ul:after { content: " "; display: table; clear: both; }
.number ul li { float: left; height: 70px; line-height: 70px; margin-right: 25px; }
.number ul li a { display: inline-block; vertical-align: middle; font-size: 24px; color: #f05223; text-decoration: none; }
.number ul li a:hover { color: #333333; }

.catalog-descr { padding: 20px 32px 40px; font-size: 13px; line-height: 1; color: #333333; }
.catalog-descr p { margin-bottom: 10px; }
.catalog-descr a { text-decoration: none; color: #f05223; }

.sidebar { float: right; width: 25%; background: #333333; }

.filters { padding: 40px 10%; }
@media only screen and (max-width: 1366px) { .filters { padding: 35px 8%; } }
@media only screen and (max-width: 1280px) { .filters { padding: 30px 5%; } }
.filters__item { margin-bottom: 30px; }
.filters__title { display: block; margin-bottom: 12px; font-size: 24px; color: white; }
@media only screen and (max-width: 1440px) { .filters__title { font-size: 20px; } }
@media only screen and (max-width: 1280px) { .filters__title { font-size: 18px; } }
.filters__wrap { *zoom: 1; margin-left: -6px; }
.filters__wrap:after { content: " "; display: table; clear: both; }

.range-slider__topper { vertical-align: middle; margin-bottom: 32px; color: white; }
.range-slider__topper span, .range-slider__topper input { display: inline-block; vertical-align: middle; margin-bottom: 0; }
.range-slider__topper input { width: 80px; height: 46px; margin-left: 10px; margin-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #4d4d4d; text-align: center; font-size: 24px; color: white; }
@media only screen and (max-width: 1440px) { .range-slider__topper input { width: 70px; } }
@media only screen and (max-width: 1280px) { .range-slider__topper input { width: 63px; height: 36px; font-size: 20px; } }

.checkbox { position: relative; display: block; margin-bottom: 12px; }
.checkbox input { display: inline-block; opacity: 0; width: 16px; height: 16px; }
.checkbox input + span { position: relative; padding-left: 10px; font-size: 15px; color: white; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input + span:before { content: ""; position: absolute; top: 3px; left: -20px; width: 16px; height: 16px; background: #4d4d4d; }
.checkbox input:checked + span { color: #f05223; }
.checkbox input:checked + span:before { background: #f05223; }
.checkbox input:checked + span:after { content: ""; position: absolute; top: 5px; left: -18px; background: url('../img/icons-s1ed957713d.png') 0 -99px no-repeat; width: 13px; height: 10px; }

.checkbox-size { position: relative; float: left; width: 46px; height: 46px; margin-left: 6px; margin-bottom: 6px; }
.checkbox-size input { opacity: 0; display: block; width: 46px; height: 46px; }
.checkbox-size input + span { position: absolute; top: 0; left: 0; width: 46px; height: 46px; line-height: 46px; text-align: center; font-size: 24px; color: white; background: #4d4d4d; cursor: pointer; }
.checkbox-size input:checked + span { background: #f05223; }

.checkbox-color { position: relative; float: left; width: 46px; height: 46px; margin-left: 6px; margin-bottom: 6px; }
.checkbox-color input { opacity: 0; display: block; width: 46px; height: 46px; }
.checkbox-color input + span { position: absolute; top: 0; left: 0; width: 46px; height: 46px; background-repeat: no-repeat; background-size: cover; background-position: 50% 0%; cursor: pointer; }
.checkbox-color input:checked + span:before { content: ""; position: absolute; top: 2px; left: 2px; width: 0px; height: 0px; border-style: solid; border-width: 32px 32px 0 0; border-color: #333333 transparent transparent transparent; }
.checkbox-color input:checked + span:after { content: ""; position: absolute; top: 5px; left: 5px; background: url('../img/icons-s1ed957713d.png') 0 -99px no-repeat; width: 13px; height: 10px; }

.subscribe { padding-top: 10px; color: white; }
.subscribe p { font-size: 13px; margin-bottom: 15px; }
.subscribe__title { position: relative; padding-left: 50px; margin-bottom: 15px; font-size: 24px; }
.subscribe__title:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s1ed957713d.png') 0 -1197px no-repeat; width: 36px; height: 36px; }
.subscribe .check { float: none; }
.subscribe .check input { width: 70%; }
.subscribe .check button { width: 30%; background: #f05223; }
@media only screen and (max-width: 1560px) { .subscribe .check button { font-size: 13px; } }
@media only screen and (max-width: 1440px) { .subscribe .check input { width: 65%; }
  .subscribe .check button { width: 35%; font-size: 12px; } }
@media only screen and (max-width: 1280px) { .subscribe .check input { width: 60%; }
  .subscribe .check button { width: 40%; } }

.aside-menu { padding-top: 5px; }
.aside-menu a { display: block; padding: 4px 10% 9px; text-decoration: none; font-size: 24px; color: white; }
.aside-menu a:hover { background: #4d4d4d; }
.aside-menu a.is-active { background: #f05223; }

.shops__topper { *zoom: 1; margin-bottom: 10px; }
.shops__topper:after { content: " "; display: table; clear: both; }
.shops__topper h1 { float: left; }
.shops__topper .shops-select { float: right; padding-top: 0; }
.shops__topper .shops-select .shops-select__title { color: #333333; }
.shops__topper .shops-select .shops-select__title:before { background: url('../img/icons-s1ed957713d.png') 0 -893px no-repeat; width: 31px; height: 48px; }
.shops__topper .shops-select .shops-select__title:after { background: url('../img/icons-s1ed957713d.png') 0 -847px no-repeat; width: 23px; height: 13px; }
.shops__map { position: relative; margin: 0 -32px 0px; }
.shops__map-inner { height: 445px; }

.magazine { padding: 50px 18px; text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.magazine:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
@media only screen and (max-width: 1280px) { .magazine { padding: 32px 0; } }
.magazine__item { display: inline-block; line-height: normal; vertical-align: top; font-size: 15px; width: 30%; padding-bottom: 10px; border-bottom: 1px solid #e7e7e7; margin-bottom: 30px; }
.magazine__title { text-align: left; margin-bottom: 20px; font-size: 24px; color: #333333; }
.magazine__info { text-align: left; font-size: 13px; }
.magazine__info li { margin-bottom: 5px; }
.magazine__info i { display: inline-block; color: #bebebe; font-size: 17px; margin-right: 5px; }

.slick-prev, .slick-next { position: absolute; top: 50%; left: 0; margin-top: -27px; width: 54px; height: 54px; background-color: rgba(217, 217, 217, 0.66); font-size: 0; }
.slick-prev:before, .slick-next:before { content: ""; position: absolute; top: 8px; left: 16px; background: url('../img/icons-s1ed957713d.png') 0 -1150px no-repeat; width: 20px; height: 37px; }
.slick-prev:hover, .slick-next:hover { background: #f05223; }
.slick-prev:hover:before, .slick-next:hover:before { background: url('../img/icons-s1ed957713d.png') 0 -1103px no-repeat; width: 20px; height: 37px; }

.slick-next { left: auto; right: 0; }
.slick-next:before { content: ""; position: absolute; top: 8px; left: 16px; background: url('../img/icons-s1ed957713d.png') 0 -1056px no-repeat; width: 20px; height: 37px; }
.slick-next:hover:before { background: url('../img/icons-s1ed957713d.png') 0 -1009px no-repeat; width: 20px; height: 37px; }
