// fonts

=ptsans
	font-family: 'PT Sans', sans-serif
=ptsansnarrow
	font-family: 'PT Sans Narrow', sans-serif

+font(FontAwesome, fontawesome-webfont)
=awesome
	font-family: 'FontAwesome', Arial, sans-serif	

//vars
$orange: #f05223

body
	min-width: 1000px
	+ptsans
	+font-smoothing 
	font-size: 15px 
	line-height: 1.4

h2
	font-weight: normal
	font-size: 24px
	color: #333
.out
	position: relative
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -86px
.push
	height: 86px		
.clr
	+clr
.col50
	float: left
	width: 50%
.col25
	float: left
	width: 25%	
.date
	font-size: 13px
	color: #979797
.content
	padding: 0 32px 	 

// common blocks
.header
	background: #333
	&__topper
		+clr
		padding: 0 0 0 30px
		.shops-select
			float: left  
.logo
	float: left
	position: relative
	margin-top: 10px
	margin-bottom: 10px
	margin-right: 60px
	a
		float: left
		+s(logo)
	p
		float: left
		margin-left: 13px
		margin-top: 5px
		font-size: 13px
		+ptsansnarrow
		text-transform: uppercase
		color: #fff
		font-weight: normal
	.out_index &
		float: none
		display: inline-block
		vertical-align: middle
		margin-top: 0
		margin-right: 0 
		margin-left: 150px
		a
			+s(logo-big)
		p
			margin-top: 27px 
			margin-left: 38px
			line-height: 1.2
			font-size: 40px
.search
	position: relative
	float: right
	margin-left: 28px 
	font-size: 0
	input[type="text"]
		display: block
		height: 86px
		width: 314px
		font-size: 20px
		+box
		+ptsans
		padding: 0 76px 0 38px
		background: #4d4d4d
		color: #fff
		+placeholder
			color: #cfcfcf
			font-size: 15px
	button
		position: absolute
		top: 33px
		right: 39px
		+s(search)
.check
	position: relative
	padding: 20px 0
	float: right
	font-size: 0
	input[type="text"]
		display: inline-block
		height: 46px
		width: 215px
		background: #4d4d4d
		font-size: 15px
		+ptsans
		color: #fff
		+box
		padding: 0 21px 
		+placeholder
			color: #cfcfcf
			font-size: 15px
	button
		display: inline-block
		height: 46px
		width: 130px
		background: #1e1e1e
		color: #fff
		font-size: 15px  		  							
.shops-select
	position: relative
	padding-top: 18px
	&__title
		position: relative
		padding-left: 60px
		padding-right: 65px 
		font-size: 24px
		color: #fff
		text-transform: uppercase
		cursor: pointer
		p
			+ptsans
			font-size: 14px  
		&:before
			content: ""
			position: absolute
			top: 0px
			left: 10px
			+s(shops)
		&:after
			content: ""
			position: absolute
			top: 20px
			right: 0
			+s(select)	
.banner
	position: relative
	background-attachment: fixed
	+cover
	z-index: 1
	cursor: pointer
	&:before
		content: ""
		display: inline-block
		width: 0
		height: 100%
		vertical-align: middle 
.nav
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 2
	&__topper
		+clr
	&__left
		float: left
	&__right
		float: right
		a
			float: left
			height: 86px
			line-height: 86px
			text-decoration: none
			color: #fff
			text-transform: uppercase
			+ptsans
			font-size: 50px
			&.catalog-link
				padding: 0 20px 0 40px
				background: $orange
			&.actions-link
				padding: 0 20px 0 30px
				background: #333   
.menu-link
	position: relative
	float: right
	width: 86px
	height: 86px
	background: #333
	&:before
		content: ""
		position: absolute
		top: 20px
		left: 20px
		+s(menu)
	.out_index &
		position: relative
		display: block
		float: none		
.menu-wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 86px 
	background: #333
	+tr(opacity 250ms)
	visibility: hidden
	opacity: 0
	z-index: 3
	&.is-open
		opacity: 1
		visibility: visible
.close
	display: block
	+s(close)
	.menu-wrap &
		float: right
		margin-top: 19px
		margin-right: 23px
	.list-wrap &
		position: absolute
		top: 19px
		right: 23px	
.menu
	float: left
	+clr
	& > li
		float: left
		padding-left: 83px
		+r(1780)
			padding-left: 40px
		+r(1280)
			padding-left: 25px 			
		&:first-child
			padding-left: 60px
			+r(1760)
				padding-left: 30px			 	 
		a
			display: block
			height: 86px
			line-height: 86px
			color: #fff
			font-size: 30px
			+ptsans
			text-transform: uppercase
			text-decoration: none
			+r(1560)
				font-size: 26px
			+r(1366)
				font-size: 25px
			+r(1280)
				font-size: 20px		 		
.socials
	+clr
	li
		float: left
		padding-left: 50px
		a
			img
				position: relative
		+r(1780)
			padding-left: 35px
		+r(1560)
			padding-left: 30px
			a
				img
					height: 25px
					top: 2px
		+r(1366)
			padding-left: 23px 			
		+r(1280)
			padding-left: 15px
			a
				img
					height: 20px		 		
.list-wrap
	+clr
	position: relative
	top: -86px 
	background: $orange
	z-index: 2
	+tr(opacity 250ms)
	visibility: hidden
	opacity: 0
	&.is-open
		opacity: 1
		visibility: visible
.list
	position: relative
	background: $orange
	+clr
	& > li
		float: left
		&:first-child
			.list__link
				padding: 0 50px 0 60px
				+r(1560)
					padding: 0 35px 0 40px
				+r(1280)
					padding: 0 25px 0 30px
		&.is-open
			.list__link
				background: #FFF
				color: #333
			.sublist
				display: block	 						
	&__link
		display: block
		padding: 0 50px
		height: 86px
		line-height: 86px 
		+ptsans
		color: #fff
		text-decoration: none
		text-transform: uppercase
		font-size: 30px
		+tr(background 200ms)
		&:hover
			background: #FFF
			color: #333 	
		+r(1560)
			padding: 0 35px
		+r(1440)
			font-size: 25px
		+r(1280)
			padding: 0 25px
			font-size: 21px 		 	 	
		
.sublist
	display: none
	position: absolute
	top: 86px
	left: 0
	right: 0
	background: #FFF
	padding: 38px 0 
	&__col
		float: left
		width: 50%
		padding-left: 3%
		+clr
		+box
	&__title
		float: left
		width: 22% 
		font-size: 21px
		text-transform: uppercase
		color: #333
	&__content
		+clr
		float: left
		width: 78%	
	&__links
		float: left
		width: 25%
		li
			a
				display: inline-block
				padding: 4px 12px
				text-decoration: none
				color: #333
				font-size: 15px
				text-transform: none
				&:hover
					background: $orange
					color: #fff
				+r(1280)
					font-size: 13px	  	 

// breadcrumbs
.breadcrumbs
	float: left 
	&__list
		font-size: 0
		height: 70px
		line-height: 70px
		li
			position: relative
			display: inline-block
			vertical-align: middle
			padding-left: 25px
			&:before
				content: "\f105"
				position: absolute
				top: 0px
				left: 10px
				+fa
				font-size: 13px
				color: #9d9d9d
			a
				font-size: 13px
				color: $orange
				+ptsans
				text-decoration: none
				&:hover
					text-decoration: underline
			&:first-child
				padding-left: 0
				&:before
					content: ""
			&:last-child
				a
					color: #9d9d9d
.back
	position: relative
	float: right
	margin-top: 15px
	text-decoration: none
	padding-left: 38px
	color: $orange
	font-size: 24px 								
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(back)		 			
// footer
.footer
	position: relative
	+clr
	height: 86px
	background: #333
	padding: 0 45px 0 30px
	&__menu
		float: left
		width: 50%
		ul
			+clr
			margin-left: -22px
			padding-top: 22px
			li
				float: left
				margin-left: 22px
				margin-bottom: 3px
				a
					color: #989898
					text-decoration: none
					font-size: 13px
					+ptsans
		+r(1366)
			ul
				li
					margin-left: 9px
					a
						font-size: 12px
		+r(1280)
			ul
				li
					a
						font-size: 11px
		+r(1024)
			ul
				padding-top: 7px													
	&__socials
		float: right
		+clr
		li
			float: left
			margin-left: 35px 
			a
				line-height: 86px
				i
					font-size: 30px
					color: #989898
		+r(1366)
			li
				margin-left: 30px							
.v
	display: inline-block
	+s(v)
	&.v_white
		+s(v-white)				  								
.p
	display: inline-block
	+s(p)				  	 						
	&.p_white
		+s(p-white)











































































































