// fonts
+font(MyriadProRegular, myriadpro-regular)
=myriad
	font-family: 'MyriadProRegular', Arial, sans-serif
+font(MyriadProBold, myriadpro-bold)
=myriad-b
	font-family: 'MyriadProBold', Arial, sans-serif	
+font(MyriadProLight, myriadpro-light)
=myriad-l
	font-family: 'MyriadProLight', Arial, sans-serif
+font(MyriadProLightSemiExtended, myriadpro-lightsemiext)
=myriad-ls
	font-family: 'MyriadProLightSemiExtended', Arial, sans-serif
+font(MyriadProSemibold, myriadpro-semibold)
=myriad-sb
	font-family: 'MyriadProSemibold', Arial, sans-serif	
+font(FontAwesome, fontawesome-webfont)
=awesome
	font-family: 'FontAwesome', Arial, sans-serif	


body
	min-width: 1000px
	+myriad
	+font-smoothing 
	font-size: 15px 
	line-height: 1.4

h2
	font-weight: normal
	font-size: 24px
	color: #333
.out
	position: relative	
.clr
	+clr
.col50
	float: left
	width: 50%
.col25
	float: left
	width: 25%	
.date
	font-size: 13px
	color: #979797 

// common blocks      
.banner
	position: relative
	+cover
	z-index: 1
.nav
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 2
	&__topper
		+clr
	&__left
		float: left
	&__right
		float: right
		a
			float: left
			height: 86px
			line-height: 86px
			text-decoration: none
			color: #fff
			text-transform: uppercase
			+myriad-ls
			font-size: 50px
			&.catalog-link
				padding: 0 20px 0 40px
				background: #f05223
			&.actions-link
				padding: 0 20px 0 30px
				background: #333   
.menu-link
	position: relative
	display: block
	width: 86px
	height: 86px
	background: #333
	&:before
		content: ""
		position: absolute
		top: 20px
		left: 20px
		+s(menu)	
.menu-wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 86px 
	background: #333
	+tr(opacity 250ms)
	visibility: hidden
	opacity: 0
	&.is-open
		opacity: 1
		visibility: visible
.close
	display: block
	+s(close)
	.menu-wrap &
		float: right
		margin-top: 19px
		margin-right: 23px
	.list-wrap &
		position: absolute
		top: 19px
		right: 23px	
.menu
	float: left
	+clr
	& > li
		float: left
		padding-left: 83px
		+r(1560)
			padding-left: 55px
		+r(1366)
			padding-left: 48px
		+r(1280)
			padding-left: 38px 			
		&:first-child
			padding-left: 60px
			+r(1560)
				padding-left: 55px
			+r(1366)
				padding-left: 48px
			+r(1280)
				padding-left: 38px			 	 
		a
			display: block
			height: 86px
			line-height: 86px
			color: #fff
			font-size: 30px
			+myriad-ls
			text-transform: uppercase
			text-decoration: none
			+r(1560)
				font-size: 26px
			+r(1366)
				font-size: 25px
			+r(1280)
				font-size: 20px		 		
.socials
	+clr
	li
		float: left
		padding-left: 50px
		+r(1560)
			padding-left: 45px
		+r(1366)
			padding-left: 35px
		+r(1280)
			padding-left: 25px		 		
.list-wrap
	+clr
	position: relative
	top: -86px 
	background: #f05223
	z-index: 2
	+tr(opacity 250ms)
	visibility: hidden
	opacity: 0
	&.is-open
		opacity: 1
		visibility: visible
.list
	position: relative
	+clr
	& > li
		float: left
		&:first-child
			.list__link
				padding: 0 50px 0 60px
				+r(1560)
					padding: 0 35px 0 40px
				+r(1280)
					padding: 0 25px 0 30px
		&.is-open
			.list__link
				background: #FFF
				color: #333
			.sublist
				display: block	 						
	&__link
		display: block
		padding: 0 50px
		height: 86px
		line-height: 86px 
		+myriad-ls
		color: #fff
		text-decoration: none
		text-transform: uppercase
		font-size: 30px
		+tr(background 200ms)
		&:hover
			background: #FFF
			color: #333 	
		+r(1560)
			padding: 0 35px
		+r(1440)
			font-size: 25px
		+r(1280)
			padding: 0 25px
			font-size: 21px 		 	 	
		
.sublist
	display: none
	position: absolute
	top: 86px
	left: 0
	right: 0
	background: #FFF
	padding: 38px 0 
	&__col
		float: left
		width: 50%
		padding-left: 3%
		+clr
		+box
	&__title
		float: left
		width: 22% 
		font-size: 21px
		text-transform: uppercase
		color: #333
	&__content
		+clr
		float: left
		width: 78%	
	&__links
		float: left
		width: 25%
		li
			a
				display: inline-block
				padding: 4px 12px
				text-decoration: none
				color: #333
				font-size: 15px
				text-transform: none
				&:hover
					background: #f05223
					color: #fff
				+r(1280)
					font-size: 13px	  	 

				
// footer
.footer
	height: 86px
	background: #333
	padding: 0 45px 0 30px
	&__menu
		float: left
		width: 50%
		ul
			+clr
			margin-left: -22px
			padding-top: 22px
			li
				float: left
				margin-left: 22px
				margin-bottom: 3px
				a
					color: #989898
					text-decoration: none
					font-size: 13px
					+myriad-l
	&__socials
		float: right
		+clr
		li
			float: left
			margin-left: 35px 
			a
				line-height: 86px
				i
					font-size: 30px
					color: #989898				
.v
	display: inline-block
	+s(v)				  								
.p
	display: inline-block
	+s(p)				  	 						













































































































