// inner
.item
    position: relative
    +clr
    &__like
        position: absolute
        top: 0
        left: 0
        width: 54px
        margin-right: 5%
        z-index: 10
    &__gallery
        float: left
        width: 50%
        padding-right: 5%
        margin-bottom: 50px
        padding-left: 11%
        +box
    &__info
        float: right
        width: 47%
    &__topper
        +clr
        margin-bottom: 40px
    &__title
        float: left
        h1
            font-size: 30px
            color: #333
            font-weight: normal        
    &__size
        margin-bottom: 45px
        & > p
            margin-bottom: 5px
            font-size: 15px
            color: #888
        ul
            +clr
            li
                float: left
                margin-right: 6px
                width: 46px
                height: 46px
                line-height: 46px
                background: #d9d9d9
                text-align: center
                +ptsansnarrow
                color: #333
                font-size: 24px
.price
    float: right
    font-size: 24px
    color: $orange
    line-height: 1 
    text-align: right
    .item &
        font-size: 30px
        padding-right: 40px
    span
        font-size: 13px
        color: #333
    +r(1280)
        font-size: 20px                    
.tabs
    position: relative
    width: 545px
    +r(1280)
        width: 100% 
    &__nav
        +clr
        li
            float: left
            margin-left: 6px
            &:first-child
                margin-left: 0
    &__link
        display: block
        padding: 0 30px
        height: 46px
        line-height: 46px
        text-decoration: none
        color: #fff
        font-size: 21px
        text-transform: uppercase
        background: #333
        &.is-active
            background: $orange
        +r(1280)
            padding: 0 25px
            height: 36px
            line-height: 36px
            font-size: 18px      
    &__container
        padding: 25px 6px                  
.table-list
    display: table
    width: 100%
    border-collapse: collapse 
    li
        display: table-row
        border-top: 1px dotted #e7e7e7
        &:first-child
            border-top: none  
        & > div
            display: table-cell
            width: 60%
            padding: 2px 0 
            color: #333 
            &:first-child
                width: 40%
                color: #888 
.percent
    width: 54px
    height: 54px
    line-height: 54px
    background: $orange
    text-align: center
    font-size: 0
.percent-icon
    display: inline-block
    vertical-align: middle
    +s(percent)    
.like
    width: 54px
    height: 54px
    line-height: 50px
    text-align: center
    background: #d9d9d9 url(../img/heart.png) 50% 50% no-repeat
    color: #fff
    font-size: 12px
    &.like_orange
        background: #d9d9d9 url(../img/heart-orange.png) 50% 50% no-repeat
.similar
    margin-bottom: 45px
    &__title
        height: 65px
        line-height: 65px
        margin-bottom: 22px
        padding: 0 50px 
        background: #e7e7e7
        font-size: 30px
        color: #333
    &__list
        padding: 0 28px 
        +justify
        li
            +justify-child
            width: 20%
.artikul
    font-size: 13px
    color: #9d9d9d             
// block
.block
    position: relative
    &__likes
        position: absolute
        top: 0
        right: 0
        z-index: 2
    &__img
        display: block
        height: 250px
        line-height: 250px
        margin-bottom: 45px 
        text-align: center
        vertical-align: bottom
        img
            display: inline-block
            vertical-align: bottom
            max-height: 100%
        +r(1280)
            height: 200px
            line-height: 200px    
    &__footer
        +clr
    &__left
        float: left
        width: 80%
    &__right
        float: right
        width: 20%                                   
    &__link
        font-size: 24px
        color: #333
        text-decoration: none
        +r(1280)
            font-size: 20px

.catalog
    +justify
    margin-bottom: -32px
    &__item
        +justify-child
        width: 23%
        padding-bottom: 10px
        border-bottom: 1px solid #e7e7e7
        margin-bottom: 32px
        .block__img
            img
                width: 315px
        +r(1780)
            width: 30%
        +r(1366)
            .block__img
                img
                    max-width: 100%    
                      
.pagination
    float: right
    &__list
        +clr
        float: left
        li
            float: left
            color: $orange
            font-size: 24px
            margin-left: 22px
            line-height: 70px 
            a
                display: inline-block
                font-size: 24px
                color: $orange
                text-decoration: none
                &:hover
                    color: #333
                &.is-active
                    color: #333
    &__next
        float: left
        margin-left: 30px
        height: 70px
        line-height: 70px
        a
            display: inline-block
            vertical-align: middle
            +s(next)
.number
    float: left
    ul
        +clr
        li
            float: left
            height: 70px
            line-height: 70px
            margin-right: 25px 
            a
                display: inline-block
                vertical-align: middle
                font-size: 24px
                color: $orange
                text-decoration: none
                &:hover
                    color: #333                            
.catalog-descr
    padding: 20px 32px 40px
    font-size: 13px
    line-height: 1 
    color: #333
    p
        margin-bottom: 10px
    a
        text-decoration: none
        color: $orange
//sidebar
.sidebar
    float: right
    width: 25%
    background: #333
.filters
    padding: 40px 10%
    +r(1366)
        padding: 35px 8% 
    +r(1280)
        padding: 30px 5%                  
    &__item
        margin-bottom: 30px
    &__title
        display: block
        margin-bottom: 12px
        font-size: 24px
        color: #fff
        +r(1440)
            font-size: 20px
        +r(1280)
            font-size: 18px
    &__wrap
        +clr
        margin-left: -6px                    
.range-slider
    &__topper
        vertical-align: middle
        margin-bottom: 32px
        color: #fff
        span, input
            display: inline-block
            vertical-align: middle
            margin-bottom: 0             
        input
            width: 80px
            height: 46px
            margin-left: 10px
            margin-right: 10px
            +box
            background: #4d4d4d
            text-align: center
            font-size: 24px
            color: #fff
            +r(1440)
                width: 70px
            +r(1280)
                width: 63px
                height: 36px
                font-size: 20px
.checkbox
    position: relative
    display: block
    margin-bottom: 12px
    input
        display: inline-block
        opacity: 0
        width: 16px
        height: 16px
    input + span
        position: relative
        padding-left: 10px
        font-size: 15px
        color: #fff
        +nosel
        &:before
            content: ""   
            position: absolute
            top: 3px
            left: -20px
            width: 16px
            height: 16px
            background: #4d4d4d
    input:checked + span
        color: $orange
        &:before
            background: $orange
        &:after
            content: ""
            position: absolute
            top: 5px
            left: -18px
            +s(checkbox)
.checkbox-size
    position: relative
    float: left
    width: 46px
    height: 46px
    margin-left: 6px
    margin-bottom: 6px
    input
        opacity: 0
        display: block
        width: 46px
        height: 46px
    input + span
        position: absolute
        top: 0
        left: 0
        width: 46px
        height: 46px
        line-height: 46px
        text-align: center
        font-size: 24px
        color: #fff
        background: #4d4d4d
        cursor: pointer
    input:checked + span
        background: $orange                                          
.checkbox-color
    position: relative
    float: left
    width: 46px
    height: 46px
    margin-left: 6px
    margin-bottom: 6px
    input
        opacity: 0
        display: block
        width: 46px
        height: 46px
    input + span
        position: absolute
        top: 0
        left: 0
        width: 46px
        height: 46px
        +cover
        cursor: pointer
    input:checked + span
        &:before
            content: ""
            position: absolute
            top: 2px
            left: 2px
            +arr(32, 32, #333, tl)
        &:after
            content: ""
            position: absolute
            top: 5px
            left: 5px
            +s(checkbox)
.subscribe
    padding-top: 10px
    color: #fff
    p
        font-size: 13px
        margin-bottom: 15px 
    &__title
        position: relative
        padding-left: 50px
        margin-bottom: 15px 
        font-size: 24px
        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            +s(subscribe)
    .check
        float: none
        input
            width: 70%
        button
            width: 30%
            background: $orange
        +r(1560)
            button
                font-size: 13px    
        +r(1440)
            input
                width: 65%
            button
                width: 35%
                font-size: 12px    
        +r(1280)
            input
                width: 60%
            button
                width: 40%
               
// aside-menu
.aside-menu
    padding-top: 5px
    a
        display: block
        padding: 4px 10% 9px
        text-decoration: none
        font-size: 24px
        color: #fff
        &:hover
            background: #4d4d4d
        &.is-active
            background: $orange
.shops
    &__topper
        +clr
        margin-bottom: 10px
        h1
            float: left
        .shops-select
            float: right
            padding-top: 0
            .shops-select__title
                color: #333
                &:before
                    +s(shops-dark)
                &:after
                    +s(select-dark)
    &__map
        position: relative
        margin: 0 -32px 0px                                             
    &__map-inner
        height: 445px
.magazine
    padding: 50px 18px
    +justify
    +r(1280)
        padding: 32px 0       
    &__item
        +justify-child
        width: 30%
        padding-bottom: 10px
        border-bottom: 1px solid #e7e7e7
        margin-bottom: 30px  
    &__title
        text-align: left
        margin-bottom: 20px
        font-size: 24px
        color: #333
    &__info
        text-align: left
        font-size: 13px
        li
            margin-bottom: 5px
        i
            display: inline-block
            color: #bebebe
            font-size: 17px
            margin-right: 5px         
.slick-prev, .slick-next
    position: absolute
    top: 50%
    left: 0
    margin-top: -27px
    width: 54px
    height: 54px
    background-color: rgba(217,217,217,.66)
    font-size: 0
    &:before
        content: ""
        position: absolute
        top: 8px
        left: 16px
        +s(slick-prev)
    &:hover
        background: $orange
        &:before
            +s(slick-prev-h)    
.slick-next
    left: auto
    right: 0
    &:before
        content: ""
        position: absolute
        top: 8px
        left: 16px
        +s(slick-next)
    &:hover
        &:before
            +s(slick-next-h)        